{% include "links.html" %}
    <nav class="navbar mt-15">
      <ul class="nav-links">
        <div class="nav-links-left">
          <li><a href="/admin_home">Home</a></li>
          <li><a href="/add_locations">Add Locations</a></li>
        </div>
        <div class="nav-links-right">
          <li><a href="/view_service_providers">Service Provider</a></li>
          <li><a href="/view_services">Services</a></li>

          <li><a href="/">Logout</a></li>
        </div>
      </ul>
      <div class="logo">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_wzdMkEfudhTFAtTFHSZr9vTGD_NXVA97mw&s"
          alt="Frisk Scripts Logo"
        />
      </div>
    </nav>

