{% include "links.html" %}
    <nav class="navbar mt-15">
      <ul class="nav-links">
        <div class="nav-links-left">
          <li><a href="/">Home</a></li>
          <li><a href="/admin_login">Admin</a></li>
        </div>
        <div class="nav-links-right">
          <li><a href="/service_provider_login">Service Provider</a></li>
          <li><a href="/customer_login">Customer</a></li>
        </div>
      </ul>
      <div class="logo">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_wzdMkEfudhTFAtTFHSZr9vTGD_NXVA97mw&s"
          alt="Frisk Scripts Logo"
        />
      </div>
    </nav>

