{% include "links1.html" %}

<div class="card">
    <div class="row">
        <div class="w-80 heading">
            <a href="/index1"><img src="https://e7.pngegg.com/pngimages/203/692/png-clipart-login-computer-icons-login-s-blue-text-thumbnail.png" class="logo"></a>
            Seasonal Sweep Services
        </div>

    </div>
</div>




<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        background:url("https://i.pinimg.com/originals/ba/5b/61/ba5b613b625e1013284f588943cd6e15.gif");
        background-repeat:no-repeat;
        background-size:1550px;
        background-color:black;
        margin:auto
    }
  .navbar{
    padding: 10px 0px;
    display: flex;
    background-color: #3378b0;
    padding: 20px;
    }
    .nav-link{
    color: black;
    margin: 7px 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    }
     .logo{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left:520px;
    }
     .card{
    width: 600px;
    background-color: rgb(41, 41, 61,0.6);
    border-radius: 50px;
    }
    .heading{
    text-align:;
    font-size: 40px;
    font-weight: bold;
    color:white;
    padding: 15px 30px;
    left:20px;
    }

</style>


