{% if session['role'] == 'admin' %}
    {% include "admin_head.html" %}
{% endif %}

{% if session['role'] == 'customer' %}
    {% include 'customer_head.html'%}
{% endif %}

{% if session['role'] == 'service_provider' %}
    {% include 'service_provider_head.html'%}
{% endif %}

<div class="card bg-secondary">
    <div class="heading">
        {{message}}
    </div>
</div>


<style>
    .card{
    width: 600px;
    margin: 200px auto;
    }
    .heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 40px;
    }
</style>